.header {
  position: fixed;
  top: 0;
  margin-top: 10px;
}

body {
  background: radial-gradient(circle, #e9dfcb, #ebd3a3);
  color: #121212;
}

body.dark {
  background: radial-gradient(circle, #373737, #222222);
  color: #e0e0e0;
}

a {
  color: blue;
}

.dark a {
  color: lightblue;
}

button {
  background-color: white;
  color: black;
  border-color: white;
}

.dark button {
  background-color: black;
  border-color: black;
  color: white;
}

input {
  background-color: white;
  color: black;
  border-color: black;
}

/* works well for light and dark mode */
input::placeholder {
 color: darkgray;
}

.dark input {
  background-color: black;
  color: white;
  border-color: white;
}

.dark .board-b72b1 {
  border-color: white;
}

.dark .white-1e1d7 {
  background-color: lightblue;
}

.dark .black-3c85d {
  background-color: green;
}

.one-char-button {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  margin-right: 5px;
}

.rules-button{
  display: inline-block;
  text-align: center;
  min-width: 210px;
  min-height: 100px;
  font-size: 20px;
  margin-top: 20px;
  border-width: 5px;
  /*background-color: rgb(225, 224, 224);*/
}

.username {
  position: fixed;
  top: 10px;
  right: 20px;
}

.chess {
  position: absolute;
  left: 50%;
  top: 2%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, 0%);
  width: calc(min(100vw, 100vh) * 0.6);
  max-width: calc(100vw - 500px);
}

.handicap-info {
  align-self: center;
  font-weight: bold;
  font-size: 23px;
}

.color-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.result {
  visibility: hidden;
  align-self: center;
}

.name {
  text-align: left;
}

.time {
  text-align: right; 
  background-color: lightblue;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
}

.dark .time {
  background-color: darkblue;
  color: white;
}

.time.bold {
  font-weight: bold;
  letter-spacing: -0.02em; /* So bolding doesn't grow the box */
}

.board {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.hotkeys-outer {
  position: absolute;
  max-height: 50%;
  left: 20px;
  bottom: 20px;
}

.hotkeys-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: row;
}

.toast {
  display: none;
  padding: 10px;
  max-width: 200px;
  margin-top: 10px;
  background-color: lightblue;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.dark .toast {
  background-color: darkblue;
  color: white;
}

.state-toast {
  display: none;
  padding: 10px;
  max-width: 200px;
  margin-top: 10px;
  background-color: lightpink;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.dark .state-toast {
  background-color: purple;
  color: white;
}

.two-button-toast {
  display: none;
  justify-content: space-around;
  padding: 10px;
  max-width: 200px;
  margin-top: 10px;
  /* background-color: white; */
  color: black;
  z-index: 9999;
}

.dark .two-button-toast {
  /* background-color: brown; */
  color: white;
}

.toast-button {
  background-color: yellow;
  color: black;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toast-button:hover {
  background-color: lightblue;
}

.dark .toast-button {
  background-color: darkred;
  color: white;
  border-color: white;
}

.dark .toast-button:hover {
  background-color: darkblue;
}

.result-toast {
  display: none;
  font-size: 30px;
  max-width: 200px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.result-toast.win {
  background-color: lightgreen;
}

.result-toast.lose {
  background-color: lightpink;
}

.result-toast.draw {
  font-size: 24px;
  background-color: yellow;
}

.dark .result-toast {
  color: white;
}

.dark .result-toast.win {
  background-color: darkgreen;
}

.dark .result-toast.lose {
  background-color: darkred;
}

.dark .result-toast.draw {
  background-color: darkslateblue;
}

.how-to-play {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.how-to-play-text {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: no-wrap;
  word-wrap: no-wrap;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 80px;
  transform: translateX(-50%);
}

.how-to-play-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  width: 1000px;
  max-height: 800px;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.how-to-play-wrapper {
  position: absolute;
  top: 10px;
  left: 850px;
  transform: translateX(-50%);
  z-index: 2;
}

.recent-move {
  box-sizing: border-box;
  border: 5px solid rgb(132, 131, 131);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .recent-move {
  border: 5px solid rgb(132, 131, 131);
}

.highlight {
  background-color:  rgba(69, 157, 69, 0.903);
  box-sizing: border-box;
  border: 5px solid rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .highlight {
  background-color: rgb(49, 70, 134);
  border: 5px solid rgb(206, 206, 206);
}

.active-games-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 15%;
  min-width: 200px;
  max-width: 300px; 
  flex-direction: column;
  text-align: center;
  z-index: 1;
  padding: 20px;
  padding-top: 0px;
  border-radius: 10px;
  background-color: beige;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark .active-games-wrapper {
  background-color: darkslategray;
}

.public-games-wrapper {
  position: relative;
  width: 50%;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
}

.public-game-username {
  font-size: 20px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 20px;
}

.game-button {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}

.dark .game-button {
  background-color: darkred;
  color: white;
}

.game-button.active:hover {
  background-color: lightblue;
}

.dark .game-button.active:hover {
  background-color: darkblue;
}

.game-button.dead {
  background-color: lightpink;
  outline: none;
}

.dark .game-button.dead {
  background-color: black;
}

.friend {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 30px;
}

.remove-friend-button {
  width: 20%;
  outline: none;
  color: red;
}

.dark .remove-friend-button {
  color: lightpink;
  background-color: darkred;
}

.remove-friend-button:hover {
  background-color: lightblue;
}

.dark .remove-friend-button:hover {
  background-color: darkblue;
}

.piece-image {
  height: 80px;
  box-sizing: border-box;
  cursor: pointer;
}

.promotion-piece {
  width: 15%;
  box-sizing: border-box;
  cursor: pointer;
}

.promotion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.time-input {
  width: 65px;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.time-input::placeholder {
  text-align: center;
}

.selected {
  border: 2px solid black;
}

.dark .selected {
  border: 2px solid white;
}

/* These should get cleaned up into the normal selected class, nothing special about them */
.selected-time {
  font-weight: bold;
  border-color: black;
}

.dark .selected-time {
  border-color: white;
}

.handicap-selection {
  box-sizing: border-box;
  height: 30px;
}

.handicap-selection.selected {
  font-weight: bold;
  letter-spacing: -0.038em;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 75%;
}

.modal {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 1500px;
  transform: translate(-50%, -50%);
  height: 300px;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(circle, #e9dfcb, #ebd3a3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark .modal {
  background: radial-gradient(circle, rgb(108, 107, 107), rgb(39, 39, 39));
}

.public-games-modal {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  min-height: 30%;
  max-height: 80%;
  overflow: auto;
  border-radius: 10px;
  background: radial-gradient(circle, #e9dfcb, #ebd3a3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark .public-games-modal {
  background: radial-gradient(circle, rgb(108, 107, 107), rgb(39, 39, 39));
} 

.join-modal{
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(circle, #e9dfcb, #ebd3a3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark .join-modal {
  background: radial-gradient(circle, rgb(108, 107, 107), rgb(39, 39, 39));
}

.rules-modal{
  display: none;
  position: absolute;
  flex-direction: column;
  text-align: left;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  height: 600px;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(circle, #e9dfcb, #ebd3a3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark .rules-modal {
  background: radial-gradient(circle, rgb(108, 107, 107), rgb(39, 39, 39));
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: beige;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark .grid-container {
  background-color: rgb(131, 124, 174);
}

.title {
  grid-column: span 5;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.label{
  grid-column: 1;
  margin-left: 0px;
  margin-right: 0px;
  column-gap: 0px;
}

.label-container {
  display: flex;
  /* If you comment this back in, it'll center the modal boxes, but it looks bad...I think */
  /* min-width: 33%; */
  height: 70%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-parent {
  display: flex;
  align-items: center; /* This will vertically align the items in the center */
}

.checkbox-container {
  margin-right: 20px; /* Add space between the checkbox container and the button */
}

/* New Styles for Aligning Checkboxes */
.checkbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* for vertical alignment of text and checkbox */
}

.create-game-button {
  height: 75px;
  width: 300px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  font-size: 30px;
}

.game-id-box {
  width: 100%;
  height: 20px;
}

.game-id-box::placeholder {
  text-align: center;
}

@media (max-width: 1000px) {
  .hotkeys {
    width: 200px;
  }
}

.whiteboard {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 175px;
  overflow: auto;
  text-align: center;
}

.whiteboard-message {
  margin: 10px;
  padding: 10px;
  background: white;
  color: black;
  border-radius: 5px;
}

.dark .whiteboard-message {
  background-color: black;
  color: white;
}

.whiteboard-message:hover {
  cursor: pointer;
  background-color: lightblue;
}

.dark .whiteboard-message:hover {
  background-color: darkblue;
}

.whiteboard-message.most-recent-message {
  background-color: lightgreen;
}

.dark .whiteboard-message.most-recent-message {
  background-color: darkgreen;
}

.whiteboard-message.flash {
  background-color: pink;
}

.dark .whiteboard-message.flash {
  background-color: darkred;
}

