.chess {
  position: absolute;
  left: 50%;
  top: 10%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -10%);
  width: 35%;
}

.handicap-info {
  align-self: center;
}

.color-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.result {
  visibility: hidden;
  align-self: center;
}

.name {
  text-align: left;
}

.time {
  text-align: right; 
  background-color: lightblue;
  border-radius: 15px;
  padding: 15px;
  font-size: 20px;
}

.time.bold {
  font-weight: bold;
  letter-spacing: -0.03em; /* So bolding doesn't grow the box */
}

.board {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.hotkeys {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  left: 20px;
  bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.how-to-play {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.how-to-play-text {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: no-wrap;
  word-wrap: no-wrap;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 80px;
  transform: translateX(-50%);
}

.how-to-play-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  width: 1000px;
  max-height: 800px;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.how-to-play-wrapper {
  position: absolute;
  top: 10px;
  left: 850px;
  transform: translateX(-50%);
  z-index: 2;
}

.highlight {
  background-color: lightblue;
  box-sizing: border-box;
  border: 5px solid red;
}

.recent-move {
  box-sizing: border-box;
  border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-games-wrapper {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
}

.active-game-button {
  width: 250px;
  white-space: nowrap;
}

.active-game-button:hover {
  background-color: lightblue;
}

.dead-button {
  background-color: lightpink;
  width: 250px;
  white-space: nowrap;
  outline: none;
}

.dead-button:hover {
  background-color: lightpink;
}

.friend {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remove-friend-button:hover {
  background-color: lightblue;
}

.piece-image {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.promotion-piece {
  width: 15%;
  height: 15%;
  box-sizing: border-box;
  cursor: pointer;
}

.promotion-container {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.time-selection {
  width: 50px;
  height: 25px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
}

.selected-time {
  font-weight: bold;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 75%;
}

/* This is slightly off-center which is annoying but I'm too lazy to figure it out */
.modal {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  left: 40%;
  top: 40%;
  width: 30%;
  height: 20%;
  transform: translate(-15%, -10%);
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: lightseagreen;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: lightpink;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.label-container {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.create-game-button {
  height: 50px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.game-id-box {
  width: 100%;
  height: 20px;
  border: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.game-id-box::placeholder {
  text-align: center;
}