<!DOCTYPE html>
<html>

<head>
    <!-- CSS for chessboard.js -->
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">

    <!-- JS for chess.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.min.js"></script>

    <!-- JS for chessboard.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chessboard.js/1.0.0/chessboard-1.0.0.min.js"></script> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handicap Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<div class="header">
    <div>
        <span style="min-width: 60px; display: inline-block"> Hotkeys </span>
        <button class="one-char-button" id="newGameButton">n</button>
        <button class="one-char-button" id="openJoinDialogButton">j</button>
        <button class="one-char-button" id="offerDrawButton">o</button>
        <button class="one-char-button" id="copyGameIdButton">c</button>
        <div class="username">
            <input id="usernameInput" type="text" placeholder="username" size="15">
            <div style="margin-top: 5px">
                <input id="addFriendInput" type="text" placeholder="add friend" size="15">
                <button id="addFriendButton" style="margin-left:5px">Add</button>
            </div>
            <div class="whiteboard" id="whiteboard">
                Messages from the server if necessary for your handicap will appear here,
                most recent at the top. Click to remove.
            </div>
        </div>
    </div>
    <div style="margin-top: 5px">
        <span style="min-width: 60px; display: inline-block"> Toggles </span>
        <button class="one-char-button" id="displayFriendsListButton">f</button>
        <button class="one-char-button" id="displayPromotionOptionsButton">p</button>
        <button class="one-char-button" id="ignoreOtherPlayerCheckButton">a</button>
        <button class="one-char-button" id="toggleThemeButton">d</button>
    </div>
    <div>
        <button class="rules-button" id="rulesButton">How to Play</button>
    </div>
    <div> <span class="toast" id="toast"> </span> </div>
    <div> <span class="draw-toast" id="drawToast">
            <button class="draw-button" id="drawButton">Draw</button>
            <button class="draw-button" id="noDrawButton">No draw</button>
        </span> </div>
    <div> <span class="state-toast" id="stateToast"> </span> </div>

    <div> <span class="draw-toast" id="confirmDrawToast">
            <button class="draw-button" id="confirmDrawButton">Offer Draw</button>
            <button class="draw-button" id="cancelDrawButton">Cancel</button>
        </span> </div>
    <div> <span class="state-toast" id="stateToast"> </span>
    </div>
    <div> <span class="result-toast" id="gameResult"></span> </div>
</div>
<div class="chess">
    <span class="handicap-info" id="handicapInfo"> </span>
    <div class="color-info" id="opponentInfo" style="margin-top: 5px">
        <div class="name" id="opponentName"></div> <!-- currently unused -->
        <div class="time" id="opponentTime">No time controls</div>
    </div>
    <div class="board" id="board"></div>
    <div class="color-info" id="yourInfo" style="margin-top: 5px">
        <div class="name" id="yourName"></div> <!-- currently unused -->
        <div class="time" id="yourTime">No time controls</div>
    </div>
    <div class="promotion-container" id="promotionSelector" style="visibility: hidden">
        <img class="promotion-piece" src="https://chessboardjs.com/img/chesspieces/wikipedia/wQ.png" piece="Q">
        <img class="promotion-piece" src="https://chessboardjs.com/img/chesspieces/wikipedia/wR.png" piece="R">
        <img class="promotion-piece" src="https://chessboardjs.com/img/chesspieces/wikipedia/wB.png" piece="B">
        <img class="promotion-piece" src="https://chessboardjs.com/img/chesspieces/wikipedia/wN.png" piece="N">
    </div>
</div>
<div id="newGameModalOverlay" class="modal-overlay">
    <div id="newGameModal" class="modal">
        <div class="grid">
            <div class="label-container">
                <div class="grid-container" id="colorSelection">
                    <img class="piece-image" id="whiteKing"
                        src="https://chessboardjs.com/img/chesspieces/wikipedia/wK.png">
                    <img class="piece-image" id="blackKing"
                        src="https://chessboardjs.com/img/chesspieces/wikipedia/bK.png">
                </div>
            </div>
            <div class="label-container">
                <div id="timeSelector" class="grid-container">
                    <button class="time-selection" seconds="5"> 5s </button>
                    <button class="time-selection" seconds="180"> 3m </button>
                    <button class="time-selection" seconds="300"> 5m </button>
                    <button class="time-selection" seconds="900"> 15m </button>
                </div>
            </div>
            <div class="label-container">
                <div id="handicapDifficulty" class="grid-container" style="grid-template-columns: repeat(4, 1fr)">
                    <h1 class="title">Handicap Difficulty</h1>
                    <div class="label">Yours</div>
                    <button class="handicap-selection" diff="" yours="t">None</button>
                    <button class="handicap-selection" diff="easy" yours="t">Easy</button>
                    <button class="handicap-selection" diff="medium" yours="t">Medium</button>
                    <button class="handicap-selection" diff="hard" yours="t">Hard</button>
                    <div class="label">Theirs</div>
                    <button class="handicap-selection" diff="" yours="f">None</button>
                    <button class="handicap-selection" diff="easy" yours="f">Easy</button>
                    <button class="handicap-selection" diff="medium" yours="f">Medium</button>
                    <button class="handicap-selection" diff="hard" yours="f">Hard</button>
                </div>
            </div>
        </div>
        <button id="createGameButton" class="create-game-button">Start Game</button>
    </div>
</div>
<div id="joinGameModalOverlay" class="modal-overlay">
    <div id="joinGameModal" class="join-modal">
        <div class="label-container">
            <div class="grid-container" style="grid-template-columns: repeat(1, 1fr)">
                <div> <input type="text" class="game-id-box" id="gameIdInput" placeholder="game id" size="30"> </div>
                <button id="joinGameButton" class="create-game-button">Join Game</button>
            </div>
        </div>
    </div>
</div>
<div id="rulesModalOverlay" class="modal-overlay">
    <div id="rulesModal" class="rules-modal">
        <h1>How to play handicap chess</h1>
        <p>Welcome! To play handicap chess, you and your opponent are each given a handicap at the beginning of the game. On your turn, you can move a piece normally as long as that move is also allowed by your handicap. 
            <b>You two do not know each others' handicaps.</b> The game ends when a player loses, by either (1) having their king captured, (2) having no legal moves, or (3) losing directly due to their handicap. 
            See below for clarifications and exceptions.</p>  

        <h2>Starting a New Game</h2>
        <p>To start a new game, press “n”, set the parameters, and click “start game”. Then press “c” to copy the game id and send it to your friend, who will press “j” to join that game. Alternatively, you can add a friend in the top right, and challenge them in the bottom right (press “f” to toggle friends list).  For more hotkeys, see the hotkey descriptions in the bottom left.</p>

        <h2>Rules Clarifications</h2>
        <p><b>Lose conditions:</b> Some handicaps, instead of specifying which moves are illegal every turn, just specify a loss condition, e.g. “lose if you have no queen”. These conditions are checked at the beginning of your turn.</p>

        <p><b>Stalemate</b>: This is not a thing in handicap chess. Moving into check is a legal move (see below), so if that is your only option, you must do it. If you truly have no legal moves (likely due to your handicap), then you lose. Threefold repetition and 50 move rule work the same as in normal chess.</p>

        <p><b>Check:</b> This is not a thing in handicap chess. <b>You can move into check and you can decline to move out of check.</b> But if your king gets taken, you lose. However, if you move into check but your opponent can’t take your king due to their handicap, the game continues!</p>

        <p><b>King en passant:</b> This game has one special move, called the king en passant! If your opponent castles through check, that is allowed, but you may capture their king by capturing the square that their king moved through (like the way you capture a pawn en passant). Any piece may perform king en passant. This is intended to mimic the rule in normal chess that people can’t (or in this case shouldn’t) castle through check, but mostly it’s a meme.</p>

        <p><b>Other:</b>
            "Piece" means any piece, including pawns and kings.
            “Capture” refers to any capture move, including en passant and capturing the king.
            Some handicaps reference the values of different pieces. Pawns are worth 1, knights and bishops 3, rooks 5, queens 9, and kings infinity.
    </div>
</div>
<div class="hotkeys">
    <div> Hotkeys </div>
    <div> <b> n </b> - new game </div>
    <div> <b> N </b> - skip new game dialog, use defaults </div>
    <div> <b> j </b> - join game </div>
    <div> <b> o </b> - offer draw </div>
    <div> <b> O </b> - offer draw, skip confirm </div>
    <div> <b> c </b> - copy game id </div>
    <div> Toggle </div>
    <div> <b> f </b> - display friends list </div>
    <div> <b> p </b> - display promotion options </div>
    <div> <b> a </b> - allow moving opponent's pieces <!--/ pieces in a one player game--> </div>
    <div> <b> d </b> - toggle dark mode </div>
</div>
</div>
<div class="active-games-wrapper" id="activeGamesWrapper" style="visibility: hidden"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>