<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Handicap Chess</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<div id="example"> </div>
<div style="margin-top:5px"> 
    <button id="get-button">Get</button> 
    <button id="set-button">Set</button>
</div>
<div style="margin-top:5px"> 
    <input type="text" id="key" placeholder="key" style="margin-right: 5px">
    <input type="text" id="value" placeholder="value" style="margin-right: 5px">
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html> 